<h2>
Blackjack adlı Uygulamanın
Gizlilik Politikası ve Kullanım Koşulları
</h2>

<p>
Google Play Store'da yayınlanan blackjacs mobil uygulaması için geçerlidir. 
<p>
Bu uygulamaları mobil cihazınıza yükleyerek, 
bu metinde yer alan gizlilik politikasını ve 
kullanım koşullarını kabul etmiş sayılırsınız. 

Bu koşulları kabul etmiyorsanız bu uygulamaları 
mobil cihazınıza yüklemeyiniz.
</p>

<p>
Uygulamalarımızda, Girilen Veriler veriler sizin Cep telefonunuzda ve sadece sadece sizlerin görebileceği şekilde şifreli alanları kriptolanmış olarak depolanır ve 3. şahıs yada kurumlar ile paylaşılmaz.

<p>
Telefon Kullanım İzinleri, Uygulamımızda bulunan kısayol arama işlemi için gerekli olan izinlerin tarafınızdan sağlanmış olması gerekir.
</p>
<p>
Uygulamanın İnterneti Kullanım özelliği yoktur, Kamera Kullanımı özelliği yoktur, kamera titreşme, e-mail atma gibi özellikleri yoktur,  Sizin özel dosyalarınıza erişim özelliği yoktur. Uygulama sadece sizin girdiğiniz verileri yine sizin cep telefonunuza kaydetme ve oradan sizlere sunma özelliği vardır.
</p>
<p>
Uygulamalarımız, size ait herhangi bir kişisel bilgiyi toplamaz ve sizden bu yönde bir talepte bulunmaz.
</p>
<p>
Uygulama sizin şifrelerinizi güvenil bir şekilde sağlayacak ortamı sağlar. uygulamayı kullanıp kullanmamanız sizin tercihinizdir. Bu tercih doğrultusunda beğenmediğiniz uygulamayı yazanın bir sorumluluğu olmayacaktır.  
</p>
<p>
Uygulama  Google Play Geliştirici Programı Politikaları sözleşmesi kapsamındaki yükümlülüklerini yerine getirir.
</p>
<p>
Uygulamalarımız sadece Google Play Store’da yer almaktadır. Bu uygulamaların bizim bilgimiz dışında başka bir android mağazasında yer alması durumunda, buradan yapılacak yüklemelerden uygulamayı yazan sorumlu tutulamaz.
</p>
<p>
Bu uygulamalarda yer alan bilgiler MIT lisansı ile yayınlanır. Görüş ve önerilerinizi ilcine@gmail.com adresine iletebilirsiniz. 
Uygulama geliştiricisi bu Gizlilik Politikası ve Kullanım Koşulları metninde değişiklik yapabilir. Yapılan değişiklikler anında yürürlüğe girecektir. Değişiklik yaptığımız tarihi, "son güncelleme tarihi" olarak en alt kısımda belirtilir.
</p>

<h3>Son güncelleme tarihi: 25.03.2022</h3>
